/* Fonts */

@font-face {
  font-family: "Metropolis";
  src: url("https://github.com/dw5/Metropolis/raw/refs/heads/master/Fonts/Webfonts/WOFF2/Metropolis-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("https://github.com/dw5/Metropolis/raw/refs/heads/master/Fonts/Webfonts/WOFF2/Metropolis-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("https://github.com/dw5/Metropolis/raw/refs/heads/master/Fonts/Webfonts/WOFF2/Metropolis-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("https://github.com/dw5/Metropolis/raw/refs/heads/master/Fonts/Webfonts/WOFF2/Metropolis-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* General */

:root {
  --color-primary: #ff6700;
  /* --color-primary-dark: #dc7245; */
  --color-secondary-dark: #1b0e5e;
  --color-grey-dark: #333333;
  --color-grey-light: #c0c5c1;
  --color-offwhite: #fafafa;
  --color-offblack: #222222;
  --color-error: #ec0c39;
  font-family: "Metropolis", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-offwhite);
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 100px;
}

section {
  width: 80%;
  max-width: 1200px;
  border-radius: 10px;
  /* padding: 50px; */
  /* box-shadow: 0 0 20px #0000007b; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h1 {
  color: var(--color-primary);
  font-size: 3em;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
}

h2 {
  color: var(--color-secondary-dark);
  text-align: center;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 130%;
  margin: 0;
}

h3 {
  color: var(--color-secondary-dark);
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 0 30px 0;
}

p {
  font-size: 1.5em;
  line-height: 180%;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

a.button {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-offwhite);
  border: 2px solid transparent;
  transition: 0.3s;
}

a.button:hover {
  background-color: var(--color-offwhite);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.bubble-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: stretch; */
  gap: 20px;
}

.bubble-container .bubble {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  border-radius: 5px;
  color: var(--color-offwhite);
  background-color: var(--color-secondary-dark);
  font-weight: 500;
  font-size: 1.75em;
  line-height: 130%;
  padding: 30px;
  vertical-align: middle;
}

section.image-text {
  flex-direction: row;
  gap: 40px;
}

section.image-text img {
  width: 40%;
}

section.text {
  gap: 1.5em;
}

section.text p {
  margin: 0;
}

/* Navbar */

nav {
  width: calc(100% - 50px);
  height: 80px;
  padding: 0 25px;
  background-color: var(--color-secondary-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav #nav-home {
  width: 300px;
  height: 65px;
  background-image: url(/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 500px;
  margin: 0 20px 0 0;
}

nav ul li a {
  position: relative;
  color: var(--color-offwhite);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0 0 5px 0;
}

nav ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--color-primary);
  transition: width 0.75s;
}

@media (hover: hover) {
  nav ul li a:hover::after {
    width: 100%;
  }
}

/* Home */

section.hero {
  margin: 30px 0 0 0;
  flex-direction: row;
}

section.hero .hero-img {
  width: 40%;
}

.faq-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.faq-container .faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  /* height: 7.5em; */
  border-radius: 5px;
  box-shadow: 0 0 8px #00000039;
  padding: 20px 30px;
}

.faq-container .faq > * {
  margin: 0;
}

.faq-container .faq .question {
  color: var(--color-primary);
  font-size: 1.5em;
  font-weight: 600;
}

.faq-container .faq .answer {
  color: var(--color-secondary-dark);
  font-size: 1.2em;
  font-weight: 400;
}

/* About */

/* main.about {
  gap: 50px;
} */

section.about-title {
  margin: 100px 0 0 0;
  height: 200px;
}

section.about-title h3 {
  margin: 0;
}

/* Footer */

footer {
  width: calc(100vw - 200px);
  height: 100px;
  margin: 100px 0 0 0;
  padding: 0 100px 0 100px;
  background-color: var(--color-grey-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p,
footer a {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
}

footer a {
  position: relative;
  text-decoration: none;
}

footer a::after {
  content: "";
  position: absolute;
  height: 1.5px;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--color-offwhite);
  transition: width 0.75s;
}

@media (hover: hover) {
  footer a:hover::after {
    width: 100%;
  }
}
/* mobile */
@media (max-width: 1000px) {
  h1 {
    font-size: 2em;
  }

  section.hero {
    flex-direction: column;
  }

  section.hero .hero-img {
    width: 60%;
  }
}
